@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto+Condensed:wght@400;700&display=swap');

html {
    font-family: 'Luxurious Roman', cursive;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    margin: 0;
    background-color: darkslategray;
}